<!-- views -->
<section class="heading">
    <div class="container-fluid container-fluid--small">
        <h1>Sets</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo dolor aliquid reiciendis saepe, velit quos fugiat eveniet mollitia ullam voluptate.</p>
    </div>
</section>


<section class="list" ng-controller="episodesController">
    <div class="container-fluid container-fluid--small">

        <div class="flex-list">
            <a ng-href="/set/{{ Set.uid }}" class="list__item" ng-repeat="Set in allSets">
                <div class="list__featured-image">
                    <figure style="background-image: url('{{ featuredImages[Set.uid].imageURL }}')" ng-if="featuredImages[Set.uid]"></figure>
                    <figure style="background-image: url('/assets/images/dummy-film.jpg')" alt="" ng-if="!featuredImages[Set.uid]"></figure>
                </div>
                
                <h2>{{ Set.title }}</h2>
                <strong>{{ Set.film_count }} Episodes</strong>
            </a>
        </div>

    </div>
</section>
